In [20]:
import pandas as pd
import numpy as np

## Question 1

In [3]:
pd.__version__

'1.4.4'

## Question 2 and 3

In [4]:
df = pd.read_csv('housing.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## Question 4

In [7]:
df.ocean_proximity.nunique()

5

## Question 5

In [10]:
df[df.ocean_proximity=='NEAR BAY'].median_house_value.mean()

259212.31179039303

## Question 6

In [15]:
round(df.total_bedrooms.mean(), 3)

537.871

In [14]:
round(df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean(), 3)

537.871

## Question 7

In [43]:
X = df[df.ocean_proximity=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']].values

XTX = np.dot(X.T, X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([950, 1300, 800, 1000, 1300])

w = np.dot(np.dot(XTX_inv, X.T), y)

round(w[-1], 3)

5.699